.App {
  text-align: center;
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.metamaskImage:hover {
  opacity: 0.4;
}

/* .formCreateBatch {
  display: flex;
  padding: 20px;
} */

td {
  padding: 15px !important;
}

.pinkClass {
  background-color: wheat !important;
  border-radius: 10px;
}

.stageCard {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 15px;
  margin: 10px;
}

.adminInfohead {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.adminInfoitem {
  /* display: flex; */
  border: 2px solid black;
  width: 100%;
  margin: 10px;
  padding: 10px;
  /* justify-content: center; */
}

.adminInfobody {
  display: flex;
  justify-content: space-around;
}


.adminInfocounter {
  font-size: 300%;
}

.success {
  color: green;
}

.inProccess {
  color: #E8C500;
}

.Table {
  margin: 20px;
  padding: 20px;
}

Form {
  opacity: 1;
  border: 4px solid #FFC43D;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  /* height: 65%; */
  z-index:99;
  background-color: white;
  transform: translate(-50%, -50%);
}

.formHeader {
  text-align: left;
  padding-top: 7px;
  padding-left: 10px;
  /* text-decoration: underline; */
}

.formInputs {
  text-align: left;
  padding: 15px;
}

.submitButton {
  text-align: right;
  padding: 15px;
}

.closeButton {
  text-align: right;
}

.belowLayer {
  text-align: center;
  height: 100vh;
  z-index: 1;
  opacity: 0.3;
}

.StagesWrapper {
  margin: 25px;
}

.footer {
  flex-shrink: 0; 
  text-align: center;
  background-color: black;
  color: white; 
  clear: both;
  /* position: relative;
  height: 200px;
  margin-top: -200px; */
}

.logoutButton {
  margin-left: 25px;
}

.loginPage {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.identicon {
  margin-left: 10px;
  margin-right: 5px;
}

.iconButtons {
  margin: 5px;
}

td,th {
  text-align: center !important;
  vertical-align: middle !important;
}