.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*Source of image: https://clearspider.net/blog/top-3-companies-blockchain-in-supply-chain/ */
  background-image: url("./img/supplyLogin.png");
  background-repeat: round;
  opacity: 0.8;
  min-height: 100vh;
}

.appTitle {
  text-align: center;
  background-color: white;
  padding: 25px;
  color: black;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.metamaskImage {
  border-radius: 10px;
}

.metamaskImage:hover {
  opacity: 0.96;
  border: 6px solid #DED3C1;
}

td {
  padding: 15px !important;
}

.pinkClass {
  background-color: wheat !important;
  border-radius: 10px;
}

.stageCard {
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 15px;
  margin: 10px;
  font-size: larger !important;
}

.adminInfohead {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.adminInfoitem {
  border: 2px solid black;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.adminInfobody {
  display: flex;
  justify-content: space-around;
}


.adminInfocounter {
  font-size: 300%;
}

.success {
  color: green;
}

.inProccess {
  color: #E8C500;
}

.Table {
  margin: 20px;
  padding: 20px;
}

Form {
  opacity: 1;
  border: 4px solid #FFC43D;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 45%;
  z-index:99;
  background-color: white;
  transform: translate(-50%, -50%);
}

.formHeader {
  text-align: left;
  padding-top: 7px;
  padding-left: 10px;
}

.formInputs {
  text-align: left;
  padding: 15px;
}

.submitButton {
  text-align: right;
  padding: 15px;
}

.closeButton {
  text-align: right;
}

.belowLayer {
  text-align: center;
  height: 100vh;
  z-index: 1;
  opacity: 0.3;
}

.StagesWrapper {
  margin: 20px;
  color: white;
  background-color: #212529;
  padding: 25px;
  border: 12px solid black;
}

.footer {
  flex-shrink: 0; 
  text-align: center;
  background-color: black;
  color: white; 
  clear: both;

}

.logoutButton {
  margin-left: 25px;
}

.loginPage {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.identicon {
  margin-left: 10px;
  margin-right: 5px;
}

.iconButtons {
  margin: 5px;
}

td,th {
  text-align: center !important;
  vertical-align: middle !important;

}

.qrCodeImg {
  width: 630px; 
  height: 85px;
}

.stagesHeader {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.alertCss {
  z-index: 99 !important;
}

.stagesLoader {
  padding: 100px;
}